* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.main_div {
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 20%;
   /* margin: auto;*/
    
}


header img {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 100px;
}

.grid_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 100%;
}


.grid_layout > div {
    text-align: center;
    padding: 5px;
    border: 3px solid rgb(107, 107, 221);
    border-radius: 10px;
    margin: 5px;
}


.singer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}




.spotify {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}


.name_heading {
    margin-top: 5%;
    text-align: center;
}