* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    background-color: #1a78b8;
    max-height: 100%;
}


.first_line {
    display: flex;

}

.logo_box {
    display: flex;

}



.login_box {
    display: flex;
    justify-content: end;
    align-items: center;
}



