* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b3b79;
    color : white;

    font-family: Bahnschrift;
}


h1 {
    text-align: center;
}


.upper-flex {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin: auto;
    margin-top: 50px;
    width: 100%;
}

#task-description {

    line-height: 2;
    font-size: 1rem;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
}

button {
    width: 350px;
    padding: 10px;
}

h2 {
    margin-top: 20px ;
}

.box-for-tasks {
    width: 50%;

    border: 2px solid white;
}

.box-for-tasks p {
    text-align: center;
}


#active-task {
    border-radius: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: fit-content;
    margin-top: 10px;
    margin-left: 100px;
}


.end-button-styles {
    width: fit-content;

}


.big-flex {
    display: flex;
    flex-direction: column;

    border: 1px solid white;
    width: fit-content;
}

.active-task-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 100px;
}

/* dynamic style for one task*/
.task-row {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.error-message {
    color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;

    display: none;
}

.active {
    display : block;
}

.inactive {
    display: none;
}

.delete-specific-task {
    border: 1px solid red;
    color: red;
    cursor : pointer;
}

.random-color-class {
    color: red;
}