* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    border-bottom: 1px solid #ddd;
}

header img {
    height: 28px;
    display: block;
    padding-left: 200px;
}




nav {
    width: 100%;
    border: solid 5px rebeccapurple;
}

nav ul li {
    list-style: none;
    display: inline;
    gap: 24px;
    margin-left: 10;
    padding: 10;
}

main h1 {
    color: grey;
    font-size: 60px;
    padding-left: 512px;
    padding-right: 400px;
    align-content: center;
}

main h2 {
    padding-left: 480px;
    font-size: xx-large;
    color: darkcyan;
}

#first_paragraph {
    padding-left: 480px;
    padding-right: 320px;
    line-height: 2;
}