* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

ul {
    margin: 20px;
}

li {
    padding: 10px;
}

.upper-flex {
    margin: 10px;
}