* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: auto;
    border: 5px solid #f6906c;
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    width: fit-content;
    margin: auto;
    padding-top: 50px;
    font-weight: bold;
    font-size: 3rem;
}