* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: midnightblue;
    color: white;
}

main {
    margin: 100px;
}


.flex-section {
    display: flex;
    justify-content: space-around;
}

.color {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 3px;
    
}

.color-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    max-width: 100px;
}

/*colors definition*/
.red {
    background-color: red;
}

.green {
    background-color: lawngreen;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.aqua {
    background-color: aqua;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}



.cell {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    background-color: white;
}


main > p {
    margin: 50px;
    margin-bottom: 0;
}

.current-color {
    width: 200px;
    height: 30px;
    border: 2px solid grey;
    background-color: white;
}



/*styles for JavaScript reactivity*/

.selected-color {
    outline: 10px solid black;
}