/*styles for devices with width less than 992px*/

.main_boot img {
    max-width: 100%;
    border: 2px solid #b4bed5;
}

.main_boot {
    padding: 10px;
    margin: auto;
}

.aside_boots {
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
}

.aside_boots img {
    max-width: 30%;
    border: 2px solid #b4bed5;
}

.upper_heading_container img {
    display: none;
}

.upper_heading_container > h1 {
    color: #304068;
    padding-bottom: 15px;
}

.upper_heading_container {
    border-bottom: 1px solid #b4bed5;
    margin-bottom: 30px;
}

.right_upper_container {
    padding: 10px;
}

.no_seen_ever_text_xdddddd {
    color: #c4ccde;
    display: none;
}






/*colors in demand*/
.details p {
    color: #304068;
    font-weight: bold;
}

.details_color > div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #b4bed5;
    display: inline-block;
}

.color_blue {background-color: #304068;}
.color_black {background-color: black;}
.color_red {background-color: #c7232f;}
.color_green {background-color: #acd373;}

.color.active {
    border-color: #c7232f;
}

/*colors in demand*/






/*sizes in demand*/
.details_size div {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.details_size div > p {
    font-size: 1.2rem;
}

.size {
    font-weight: normal!important;
}

.size.active {
    color: #c7232f;
    text-decoration: underline;
}

.size.inactive {
    color: #b4bed5;
    text-decoration: line-through;
}







.details {
    padding-bottom: 20px;
    border-bottom: 1px solid #b4bed5;
}

.right_upper_container > h2 {
    color: #304068;
    font-size: 2rem;
    margin-top: 20px;
}

.submit_container > p {
    color: #c7232f;
    font-size: 4rem;
    font-weight: bold;
}

.submit_container button {
    display: flex;
    background-color: #c7232f;
    color: white;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    border: none;
    font-size: 1.2rem;
}

.submit_container {
    display: flex;
    justify-content: space-between;
}

.lower_part h2 {
    color: #304068;
}

.lower_part {
    padding: 10px;
    margin-top: 40px;
    text-align: center;
}

.lower_part p {
    color: #304068;
    text-align: justify;
    font-size: large;
    margin-top: 20px;
}

.lower_part h3 {
    color: #304068;
    text-align: left;
    margin-top: 20px;
}





/*table styles*/

.lower_part_flex_item table td {
    color: #304068;
}

.lower_part_flex_item table th {
    color: white;
    background-color: #304068;
    text-align: center;
    padding: 20px;
}

.lower_part_flex_item table td {
    padding: 5px 10px;
}

.bold {
    font-weight: bold;
}

.colored {
    background-color: #d6d9e1;
}

.lower_part_flex_item table {
    width: 100%;
    margin: auto;
}

table tr td {
    width: 50%;
}
.lower_part_flex_item:last-child {
    margin-top: 20px;
}


/*table styles*/



main h2 {
    color: #c7232f;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.addition {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    align-items: center;
}

.addition_flex_item {
    max-width: 85%;
    border: 1px solid #b4bed5;
}

.flex_item_info_div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.img_uni_style {
    max-width: 100%;
}

.flex_item_info_div p {
    font-size: 1.6rem;
    padding-left: 5%;
}

.flex_item_info_div > a {
    margin-left: auto;
    margin-right: 10px;
}

#nwm {
    margin-left: auto;
    margin-right: 10px;
}

.second_prize {
    color: #b4bed5;
}

.first_prize {
    color: #c7232f;
}

.middle_text {
    font-size: 1.4rem;
    padding-left: 5%;
    color: #304068;
    max-width: 80%;
}

.addition_flex_item a {
    text-decoration: none;
}



.kosik {
    display: none;
}

.addition_flex_item:hover  .kosik {
    display: block;
}

.addition_flex_item .second_prize {
    text-decoration: line-through;
}




/*divider*/
.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #b4bed5;
}

/*divider*/


.helper_center_item img {
    background-color: #304068;
    padding: 15px;
    border-radius: 60px;
}

.helper_center_item > p {
    color: #304068;
    text-transform: uppercase;
    font-size: x-large;
}

.helper_center_item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.helper_center {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    margin: 50px auto;
}


/*styles for devices with minimum width 992px*/

@media screen and (min-width: 992px) {

    #heading_logo {
        display: block;
    }

    .upper_part {
        display: flex;
        width: 80%;
        margin: auto;
    }

    .upper_part .left_upper_container {
        width: 50%;
    }

    .upper_part .right_upper_container {
        width: 50%;
    }

    .upper_heading_container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 35%;
    }

    .upper_heading_container img {
        width: auto;
        height: 40px;
    }

    .no_seen_ever_text_xdddddd {
        display: block;
        margin: 80px 0px;
    }


    .details {
        display: flex;
        justify-content: left;
        gap: 20%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .right_upper_container h2 {
        text-align: left;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .details_size {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .submit_container > p {
        font-size: 3rem;
    }
}

