/*common styles for devices with width less than 992px*/

* {
    box-sizing: border-box;
}

.upper_demand {
    display: flex;
    flex-direction: column;
}


.upper_demand_selection {
    width: 95%;
    margin: auto;
    background-image: url(../img/01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 25% 5%;
}

.upper_demand_selection2 {
    width: 95%;
    margin: auto;
    background-image: url(../img/02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 25% 5%;
}

.upper_demand_selection3 {
    width: 95%;
    margin: auto;
    background-image: url(../img/03-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 25% 5%;
}


.upper_demand_selection > p {
    text-transform: uppercase;
    color: #304068;
    font-size: 1.8rem;
}

.upper_demand_selection2 > p {
    text-transform: uppercase;
    color: #c7232f;
    text-decoration: underline;
    font-size: 1.8rem;
}


.upper_demand_selection3 > p {
    text-transform: uppercase;
    color: #304068;
    font-size: 1.8rem;
}


.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #b4bed5;
}

.demand_heading h1 {
    color: #c7232f;
    text-align: center;
    font-weight: normal;
    font-size: 2.5rem;
    max-width: 80%;
    margin: auto;
    margin-top: 25px;
}

.demand_heading h1 span {
    color: #304068;
    font-weight: bold;
}



/*the damand list in main root styles*/

.demand_list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    align-items: center;
}


.flex_item {
    max-width: 85%;
    border: 1px solid #b4bed5;
}

.img_uni_style {
    max-width: 100%;
}


.flex_item_info_div {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.flex_item_info_div .kosik {
    margin-left: auto;
    margin-right: 10px;
}


.flex_item_info_div p {
    font-size: 1.6rem;
    padding-left: 5%;
    color: #c7232f;
}


.second_prize {
    color: #b4bed5!important;
}


.middle_text {
    font-size: 1.4rem;
    padding-left: 5%;
    color: #304068;
    max-width: 80%;
}

.flex_item a {
    text-decoration: none;
}



.kosik {
    display: none;
}

.flex_item:hover  .kosik {
    display: block;
}

.flex_item .second_prize {
    text-decoration: line-through;
}


.button_party button {
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 1px;
    border: none;
    background-color: #c7232f;
    color: white;
    font-size: large;
}

.button_party {
    margin-bottom: 50px;
}

.helper_center_item img {
    background-color: #304068;
    padding: 15px;
    border-radius: 60px;
}

.helper_center_item > p {
    color: #304068;
    text-transform: uppercase;
    font-size: x-large;
}

.helper_center_item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.helper_center {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    margin: 50px auto;
}

.banner_boss {
    display: none;
}


#demand_list2 {
    display: none;
}

.helper_center_item img:hover {
    background-color: #c7232f;
}

.helper_center_item p:hover {
    color: #c7232f;
    text-decoration: underline;
}


/*styles for devices with minimum width 992px*/

@media screen and (min-width: 992px) {

    main {
        width: 80%;
        margin: auto;
    }

    .banner_boss {
        display: block;
        background-image: url(../myAssets/banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10%;
        padding-left: 50%;
        width: 100%;
        margin: auto;
    }

    .banner_boss .pink {
        font-size: x-large;
        text-transform: uppercase;
        color: #c7232f;
    }

    .banner_boss .blue {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #304068;
        font-weight: bold;
    }

    .banner_boss button {
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 1px;
        background-color: #c7232f;
        font-size: medium;
        max-width: fit-content;
    }

    .banner_boss {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .upper_demand {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .upper_demand > div {
        padding: 8% 5%;
    }

    .demand_list {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }


    #demand_list2 {
        display: flex;
    }

    .button_party button {
        width: fit-content;
        padding: 15px 30px;
    }

    .helper_center {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}