* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*common styles for devices with width less than 992px (homepage.html, demand.html, detail.html)*/

header .upper_nav_line {
    background-color: #304068;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.upper_nav_line ul {
    display: flex;
    gap: 10px;
}

.upper_nav_line ul {
    list-style: none;
    font-size: 1.1rem;
}

#second_point {
    border-left: 1px solid white;
    padding-left: 10px;
}


.bottom_nav_line {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reffs_div {
    display: flex;
    gap: 20px;
}


.select_grid {
    color: #b4bed5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
}



.boys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid #b4bed5;
    padding: 20px;
}


.girls {
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid #b4bed5;
    padding: 20px;
}

.others_in {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #b4bed5;
    padding: 20px;
}


.promo_box {
    padding-top: 50px;
    background-image: url(../myAssets/Vrstva\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo_box > h2 {
    color: black;
    text-align: center;
    font-size: xx-large;
}

.promo_box > p {
    color: #606060;
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem;
}

.email_box {
    position: relative;
    display: flex;
    width: 340px;
    /*border: 1px solid #d5d5d6;*/
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 40px;
}

.email_box > img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-190%);
    width: 20px;
}

.email_box input {
    flex: 1;
    padding: 12px 12px 12px 12px;
    border: none;
    background-color: rgb(204, 204, 204);
    font-size: 14px;
}

.email_box button {
    background-color: #c7232f;
    color: white;
    border: none;
    padding: 0 20px;
    font-size: 14px;
    cursor: pointer;
}

.email_box input::placeholder {
    padding: 30px;
}


.upper_info_passage {
    background-color: #c7232f;
    padding-bottom: 50px;
}


.upper_info_passage h3 {
    font-weight: normal;
    text-transform: uppercase;
    padding: 50px 10px;
}

.upper_info_passage p {
    text-align:justify;
    max-width: 80%;
    padding-left: 10px;
}

.upper_info_passage img {
    padding: 50px 10px;
}

.girl_products h4 {
    padding: 10px;
}

.girl_products ul {
    list-style:circle;
    padding-left: 50px;
}

.girl_products ul li {
    padding: 5px 0px;
}


.products {
    display: flex;
    gap: 30%;
}


.lower_info_passage {
    background-color: #304068;
}

.lower_info_passage img {
    padding: 0 10px;
}

.card {
    display: flex;
}

.lower_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.lower_info_passage h3 {
    padding: 50px 10px;
    text-transform: uppercase;
    font-weight: normal;
}

.socials {
    padding: 30px 10px;
}


.lower_info_passage > p {
    padding: 30px 10px;
}


#last_contact {
    display: none;
}


/*styles for devices with minimum width 992px*/

@media screen and (min-width: 992px) {
    .upper_nav_line ul {
        padding-left: 10%;
    }

    .upper_nav_line img {
        padding-right: 10%;
    }

    .bottom_nav_line {
        max-width: 80%;
        margin: auto;
    }

    .select_grid {
        max-width: 80%;
        margin: auto;
        display: flex;
    }

    .select_grid > div {
        width: 25%;
    }

    .promo_box h2 {
        width: 50%;
        margin: auto;
        font-size: 1.8rem;
        padding-top: 50px;
    }

    .promo_box > p {
        width: 60%;
        margin: auto;
        margin-top: 15px;
        font-size: 1.3rem;
    }

    .email_box {
        width: 30%;
        margin: auto;
        margin-top: 20px;
        padding-bottom: 100px;
    }

    .email_box > img {
        transform: translateY(-410%);
    }

    .for_flex {
        display: flex;
        flex-direction: row;
    }

    .lower_info_passage {
        width: 30%;
    }

    .upper_info_passage {
        width: 70%;
    }

    .upper_info_passage {
        display: flex;
    }

    .part1 {
        width: 50%;
    }

    .part1 > img {
        margin-top: 10%;
    }

    #last_contact {
    display: block;
    }

    #last_contact {
        display: flex;
    }
}